Repository gostamp/docker-ubuntu: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamlfmt, dotenv-linter, jsonlint, markdownlint, yamllint

.pre-commit-config.yaml:

---
default_install_hook_types: [commit-msg, pre-commit]
default_stages: [commit, manual]
fail_fast: true

repos:
  - repo: local
    hooks:
      # https://github.com/mvdan/sh
      - id: shfmt
        name: "Format: shfmt"
        entry: ./bin/run-in-container.sh shfmt
        args:
          - --write
        language: system
        types_or:
          - dockerfile
          - shell

      # https://github.com/google/yamlfmt
      - id: yamlfmt
        name: "Format: yamlfmt"
        entry: ./bin/run-in-container.sh yamlfmt
        args:
          - --conf=.yamlfmt.yaml
        language: system
        types:
          - yaml

      # https://github.com/streetsidesoftware/cspell
      - id: cspell
        name: "Lint: cspell"
        entry: ./bin/run-in-container.sh cspell
        args:
          - --gitignore
          - --no-must-find-files
          - --no-progress
          - --no-summary
          - --show-suggestions
        language: system
        require_serial: true
        types:
          - text

      - id: dotenv-linter
        name: "Lint: dotenv-linter"
        entry: ./bin/run-in-container.sh dotenv-linter
        args:
          - --not-check-updates
          # .env is in the .gitignore file, so pre-commit won't
          # ever try to lint it - forcing to be thorough.
          - .env
        language: system
        # .env OR .env.foo OR *.env
        # See: https://rubular.com/r/sWEhRn1E2ALnwI
        files: ^(\.env|\.env\.\w+|.+\.env)$
        types:
          - text

      # https://github.com/editorconfig-checker/editorconfig-checker
      - id: editorconfig-checker
        name: "Lint: editorconfig-checker"
        entry: ./bin/run-in-container.sh ec
        language: system
        types:
          - text

      # https://github.com/zricethezav/gitleaks
      - id: gitleaks
        name: "Lint: gitleaks"
        entry: ./bin/run-in-container.sh gitleaks protect
        args:
          - --redact
          - --verbose
        pass_filenames: false
        language: system
        types:
          - text

      # https://github.com/hadolint/hadolint
      - id: hadolint
        name: "Lint: hadolint"
        entry: ./bin/run-in-container.sh hadolint
        language: system
        types:
          - dockerfile

      # https://github.com/prantlf/jsonlint
      - id: jsonlint
        name: "Lint: jsonlint"
        entry: ./bin/run-in-container.sh jsonlint
        args:
          - --config=.jsonlint.yaml
          - --in-place
        language: system
        files: ^(\.ecrc|.+\.github-issues|.+\.json)$ # spell: disable-line

      # https://github.com/igorshubovych/markdownlint-cli
      - id: markdownlint
        name: "Lint: markdownlint"
        entry: ./bin/run-in-container.sh markdownlint
        args:
          - --dot
          - --fix
        language: system
        types:
          - markdown

      # https://github.com/koalaman/shellcheck
      - id: shellcheck
        name: "Lint: shellcheck"
        entry: ./bin/run-in-container.sh shellcheck
        args:
          - --check-sourced
          - --external-sources
          - --source-path=SCRIPTDIR # spell: disable-line
        language: system
        types:
          - shell

      # https://github.com/adrienverge/yamllint
      - id: yamllint
        name: "Lint: yamllint"
        entry: ./bin/run-in-container.sh yamllint
        args:
          - --strict
        language: system
        types:
          - yaml

  - repo: local
    hooks:
      # https://github.com/jorisroovers/gitlint
      - id: gitlint
        name: "Lint: gitlint"
        entry: ./bin/run-in-container.sh gitlint
        args:
          - --staged
          - --msg-filename
        language: system
        stages:
          - commit-msg

chore: replace jsonlint, yamllint, and yamlfmt with prettier and eslint
  .ecrc.json
  .eslintrc.yaml
  .github/triage.github-issues
  .gitlint
  .jsonlint.yaml
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc.yaml
  .yamlfmt.yaml
  .yamllint.yaml
  Dockerfile
  TODO.md
  cspell.yaml
Due: yamlfmt, jsonlint, markdownlint, yamllint

chore: add devcontainer config
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yaml
  .pre-commit-config.yaml
  .prettierrc.yaml
  TODO.md
  cspell.yaml
Due: yamlfmt, jsonlint, markdownlint, yamllint

docs: document devcontainer settings
  .devcontainer/devcontainer.json
  .eslintrc.yaml
Due: yamlfmt, jsonlint, yamllint

fix: get sops working again
  .gitattributes
  .sops.yaml
  Makefile
  docker-compose.yaml
  etc/local/.sops.yaml
  etc/local/secrets.yaml
  etc/test/config.env
  etc/test/secrets.yaml
Due: yamlfmt, dotenv-linter, yamllint

chore: add container tests
  Dockerfile
  TODO.md
  bin/entrypoint.sh
  bin/test.sh
  cspell.yaml
  docker-compose.yaml
  tests/full/structure-test.yaml
  tests/slim/structure-test.yaml
Due: yamlfmt, markdownlint, yamllint

chore: update todo
  TODO.md
Due: markdownlint

chore: update docker config
  Dockerfile
  bin/entrypoint.sh
  bin/run-in-container.sh
Due: none

chore: remove CST tests for now
  bin/test.sh
Due: none

chore: update gitignore
  .gitignore
Due: none

chore: remove unused config files
  .ecrc.json
  .eslintrc.yaml
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc.yaml
Due: yamlfmt, jsonlint, yamllint

refactor: use stylist rather than pre-commit for git hooks
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .dockerignore
  .env.example
  .github/CODEOWNERS
  .hadolint.yml
  .sops.yml
  .stylist.yml
  .vscode/tasks.json
  Dockerfile
  Makefile
  TODO.md
  bin/command.sh
  bin/common.sh
  bin/entrypoint.sh
  bin/format.sh
  bin/githooks/commit-msg.sh
  bin/githooks/pre-commit.sh
  bin/githooks/prepare-commit-msg.sh
  bin/githooks/wrappers/commit-msg
  bin/githooks/wrappers/pre-commit
  bin/githooks/wrappers/prepare-commit-msg
  bin/lint.sh
  bin/pre-commit-build.sh
  bin/pre-commit-restore.sh
  bin/run-in-container.sh
  bin/setup-container.sh
  bin/setup-host.sh
  cspell.yml
  docker-compose.yml
  etc/dotfiles/.bashrc
  etc/local/secrets.yml
  etc/test/secrets.yaml
  etc/test/secrets.yml
  tests/full/structure-test.yaml
  tests/slim/structure-test.yaml
Due: yamlfmt, dotenv-linter, jsonlint, markdownlint, yamllint

fix: remove broken vscode extension
  .devcontainer/devcontainer.json
Due: jsonlint

feat: add release task
  .github/workflows/build.yml
  Dockerfile
  Makefile
  bin/entrypoint.sh
  bin/publish.sh
  bin/release.sh
  cspell.yml
  docker-compose.yml
Due: yamlfmt, yamllint

fix: do not try to bind mount missing file in CI
  .gitignore
  Makefile
  bin/entrypoint.sh
  docker-compose.yml
Due: yamlfmt, yamllint

fix: only use sops when there is a valid key file
  bin/entrypoint.sh
Due: none

fix: don't mess with entrypoint permissions when in CI
  bin/entrypoint.sh
  docker-compose.yml
Due: yamlfmt, yamllint

fix: use correct token permission for creating releases
  .github/workflows/build.yml
Due: yamlfmt, yamllint

chore: configure to use buildkit's GHA cache store
  .github/workflows/build.yml
Due: yamlfmt, yamllint

feat: add publish task for pushing docker images
  .env.example
  .github/workflows/build.yml
  Makefile
  bin/publish.sh
  bin/release.sh
  bin/setup-host.sh
  cspell.yml
  docker-compose.yml
Due: yamlfmt, dotenv-linter, yamllint

feat: add publish workflow
  .github/workflows/publish.yml
Due: yamlfmt, yamllint

fix: ensure proper git config in CI
  Makefile
  bin/release.sh
Due: none

chore: add debug logging
  Makefile
  bin/entrypoint.sh
Due: none

chore: use env var for docker username in CI
  Makefile
Due: none

chore: create a user with the same FS permissions as CI
  Dockerfile
  Makefile
  bin/release.sh
  docker-compose.yml
Due: yamlfmt, yamllint

chore: fix type in workflow name
  .github/workflows/publish.yml
Due: yamlfmt, yamllint

chore: cleanup
  Makefile
  bin/entrypoint.sh
  bin/release.sh
  docker-compose.yml
Due: yamlfmt, yamllint

chore: cleanup
  Dockerfile
Due: none

fix: filesystem permission errors in CI (#4)
  .github/workflows/publish.yml
  Dockerfile
  Makefile
  bin/entrypoint.sh
Due: yamlfmt, yamllint

fix: simplify release and publish into single CI workflow
  .github/workflows/build.yml
  .github/workflows/publish.yml
  Makefile
  bin/publish.sh
  bin/release.sh
Due: yamlfmt, yamllint

fix: simplify release and publish into single CI workflow (#5)
  .github/workflows/build.yml
  .github/workflows/publish.yml
  Makefile
  bin/publish.sh
  bin/release.sh
Due: yamlfmt, yamllint

fix: ensure docker builder has been setup
  bin/release.sh
Due: none

fix: incorrect version tags in release task
  bin/release.sh
Due: none

feat: switch SOPS over to use PGP key
  .devcontainer/devcontainer.json
  .github/workflows/build.yml
  .gitignore
  .sops.yaml
  .sops.yml
  Dockerfile
  Makefile
  bin/entrypoint.sh
  bin/setup-host.sh
  docker-compose.yml
  etc/local/secrets.yml
  etc/test/secrets.yml
Due: yamlfmt, jsonlint, yamllint

fix: resolve bash error
  bin/entrypoint.sh
Due: none

fix: more permission errors
  bin/entrypoint.sh
  docker-compose.yml
Due: yamlfmt, yamllint

fix: more permission errors
  Dockerfile
  bin/entrypoint.sh
Due: none

feat: switch SOPS over to use PGP key (#6)
  .devcontainer/devcontainer.json
  .github/workflows/build.yml
  .gitignore
  .sops.yaml
  .sops.yml
  Dockerfile
  Makefile
  bin/entrypoint.sh
  bin/setup-host.sh
  docker-compose.yml
  etc/local/secrets.yml
  etc/test/secrets.yml
Due: yamlfmt, jsonlint, yamllint

chore: refactor release process
  .github/workflows/build.yml
  Makefile
  bin/release.sh
  bin/version.sh
Due: yamlfmt, yamllint
